body{
    background-color: beige;
    margin: 0px;
}

p{
    text-align:center ;
    background-attachment: fixed;
}

footer{
    background-color: black;
    height: 50px;
}
.body{
    height: 891px;
}
.navbar{
    height: 50px;
    background-color: aqua;
}